/*
$color-primary: #c69963;
$color-primary-dark: #B28451;

$color-secondary: #101d2c;

$color-grey-light-1: #f9f7f6;
$color-grey-light-2: #aaa;

$color-grey-dark-1: #54483A;
$color-grey-dark-2: #6D5D4B;

// FONT VARIABLES
$font-primary: 'Nunito', sans-serif;
$font-display: 'Josefin Sans', sans-serif;

mediaquery-breakpoints
$-largest: 75em (1200px/16px)
$-large: 62.5em (1000px/16px)
$-medium 50em (800px/16px)
$-small 26.56em(425px/16px)
homes-programs

*/

*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    /* 10 px podeljeno sa brauzerovih podrazumevanih 16px je 62.5% --> 1rem = 10px */
}

.body {
    font-family: "Lato", sans-serif;
    color: #54483A;
    font-weight: 400;
    line-height: 1.7;
}

.container {
    display: grid;
    grid-template-rows: 80vh min-content min-content 40vw min-content repeat(3, min-content);
    /* 80vh(1.red) min-content(2.red) 40vw(3.red) repeat(3, min-content)(4,5,6 red); */
    grid-template-columns: /* [sidebar-start] 8rem [sidebar-end */
    [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem)[col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    /*sidebar + po 1fr izmedju 8 kolona + 8 kolona, od kojih svaka duzina kolone ide izmedju minimalnog sadrzaja i 140px (ukoliko stavimo fr, kolone se razvlace citavom duzinom vw
    minmax(6rem, 1fr) od full-start do full-end da uvek imamo prostora sa strane  */
    background-color: rgb(223, 223, 223)
}

@media only screen and (max-width: 62.5em) {
    .container {
        grid-template-rows: 80vh min-content min-content 45vw repeat(3, min-content);
        grid-template-columns: [full-start] minmax(6rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(6rem, 1fr) [full-end];
    }
}

@media only screen and (max-width: 50em) {
    .container {
        grid-template-rows: 50vh repeat(9, min-content)
        /*  grid-template-rows: 50vh min-content min-content repeat(3, min-content); */
    }
}

@media only screen and (max-height :650px) {
    .container {
        grid-template-rows: 60vh min-content min-content min-content 40vw repeat(3, min-content);
    }
}



