/************************************************************* ABOUT - ONAMA /*************************************************************/

.about-pictures {
    background-size: cover;
    background-position: top;
    background-color: #c69963;
    grid-column: full-start / col-end 5;
    background-image: linear-gradient(rgba(198, 153, 99, 0.2), rgba(198, 153, 99, 0.2)), url(./img/img301.jpg);
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
}

.about-img1 {
    width: 100%;
    grid-row: 2 / 6;
    grid-column: 2 / 6;
    box-shadow: 24px 24px 37px -5px rgba(0, 0, 0, 0.53);
    filter: invert(.1)
}

.about-img2 {
    width: 115%;
    grid-row: 4 / 6;
    grid-column: 4 / 7;
    z-index: 15;
    filter: invert(.1);
    box-shadow: 24px 24px 37px -5px rgba(0, 0, 0, 0.53);
}

.about-content {
    background-color: #f9f7f6;
    grid-column: col-end 5 / full-end;
    padding: 3rem 8vw;
    align-items: center;
    display: grid;
    align-content: center;
    justify-items: start;
}

@media only screen and (max-width:50em) {
    .about-pictures {
        grid-column: 1 /-1;
        grid-row: 6 / 7;
        padding: 10rem;
    }
    .about-img1 {
        grid-column: 1 / 5;
        grid-row: 1 / -1;
    }
    .about-img2 {
        grid-row: 1 / -1;
        width: 100%;
    }
    .about-content {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }
}

@media only screen and (max-width:50em) {
    .about-pictures {
        grid-column: 1 / -1;
        grid-row: 6 / 7;
    }
    .about-content {
        grid-column: 1 / -1;
        grid-row: 5 / 6;
    }
}
